/* Container element for all notifications. Should be
   largely invisible to the visitor */
.notification-area {
  position: fixed;
  color: white;
  top: 2px;
  width: 250px;
  right: 10px;
  overflow: auto;
  font-family: sans-serif;
  font-size: smaller;
}


.notification-area .notification {
  padding: 6px;
  border: 1px solid grey;
  border-left-width: 2px;
  border-right-width: 2px;
  background-color: #555;
  background-color: rgba(0, 0, 0, 0.7);
  
}

.notification-area .title-bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
  
  padding-right:15px; /* for the 'x' */
  padding-top: 2px;
  padding-left: 2px;
  height:auto!important;
  height: 20px;
  min-height:20px;
  position: relative;
  font-weight: bold;
}

.notification-area .title-bar .icon { 
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}

  /* 'x' in the corner */
.notification-area .title-bar .closer {
  display: block;
  top: 3px;
  right: 2px;
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
  
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}

.notification-area .message {
  padding: 2px 0px;
}

.notification-area label { 
  display: block;
  font-weight: bold;
}

.notification-area label input[type=text]:before 
.notification-area label input[type=search]:before
.notification-area label input[type=password]:before {
  content: "<br/>";
}
.notification-area label input[type=text], 
.notification-area label input[type=search], 
.notification-area label input[type=password] {
  margin-left: 2em;
  border-radius: 2px;
  border: 1px solid black;
  outline: none;
  font-family:monospace;  
} 